@charset "UTF-8";

/* Added css to make web page dynamic*/
html {
    font-size: 10px;
}

body {
    font-family: 'Bellota Text', cursive;
    background-color: Blue;
}

.container {
    color: #fff;
}

h1 {
    font-size: 7rem;
}

p,
div {
    font-size: 1.5rem;
}

li {
    font-size: 2.5rem;
    justify-content: space-between;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p {
    background-color: red;
}

header {
    padding: 5px 0;
    background-color: brown;
}

article {
    height: 400px;
}

/* Set the size of the div element that contains the map */
#map {
    width: 100%;
    /*width of the parent - article element */
    height: 100%;
    /*height of the parent - article element */
    background-color: grey;
}
